.path-mod-attforblock .attbtn {
    border:1px solid #AAAAAA;
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -opera-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.path-mod-attforblock .attcurbtn {
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
}

.path-mod-attforblock .attfiltercontrols {
    margin-bottom: 10px;
    margin-right:auto;
    margin-left:auto;
}

.path-mod-attforblock .attfiltercontrols #currentdate{
    display: inline;
}

.path-mod-attforblock .attwidth {
    width:90%;
    margin: auto;
}

.path-mod-attforblock .userwithoutenrol {
    color: gray;
}

.path-mod-attforblock .userwithoutdata {
    color: red;
}

.path-mod-attforblock .taketable td {
    vertical-align: middle;
}

.path-mod-attforblock .taketable .userpicture {
    margin:0 3px;
    vertical-align:middle;
}

.path-mod-attforblock #mod-attforblock-attendances table.controls {
    width: 100%;
    text-align: center;
}

.path-mod-attforblock #mod-attforblock-attendances table.controls tr {
    vertical-align: top;
}

.path-mod-attforblock #mod-attforblock-attendances table.controls td.right,
.path-mod-attforblock #mod-attforblock-attendances table.controls td.left {
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
}

.path-mod-attforblock #mod-attforblock-attendances table.controls .right {
    text-align: right;
}
/* for IE7*/
.path-mod-attforblock .filtercontrols td {
    padding:6px;
}
