{{=<% %>=}}
<div>
    <core-course-module-description description="<% attendance.intro %>" component="mod_attendance" componentId="<% cmid %>"></core-course-module-description>
    <ion-item>
    <ion-grid>
        <ion-row>
            <ion-col col-9 class="text-left">
                {{ 'plugin.mod_attendance.sessionscompleted' | translate }}
            </ion-col>
            <ion-col col-2 class="text-left">
                <% summary.numtakensessions %>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-9 class="text-left">
                {{ 'plugin.mod_attendance.pointssessionscompleted' | translate }}
            </ion-col>
            <ion-col col-2 class="text-left">
                <% summary.pointssessionscompleted %>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-9 class="text-left">
                {{ 'plugin.mod_attendance.percentagesessionscompleted' | translate }}
            </ion-col>
            <ion-col col-2 class="text-left">
                <% summary.percentagesessionscompleted %>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-9 class="text-left">
                {{ 'plugin.mod_attendance.sessionstotal' | translate }}
            </ion-col>
            <ion-col col-2 class="text-left">
                <% summary.numallsessions %>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-9 class="text-left">
                {{ 'plugin.mod_attendance.pointsallsessions' | translate }}
            </ion-col>
            <ion-col col-2 class="text-left">
                <% summary.percentagesessionscompleted %>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-9 class="text-left">
                {{ 'plugin.mod_attendance.percentageallsessions' | translate }}
            </ion-col>
            <ion-col col-2 class="text-left">
                <% summary.allsessionspercentage %>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-9 class="text-left">
                {{ 'plugin.mod_attendance.maxpossiblepoints' | translate }}
            </ion-col>
            <ion-col col-2 class="text-left">
                <% summary.maxpossiblepoints %>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-9 class="text-left">
                {{ 'plugin.mod_attendance.maxpossiblepercentage' | translate }}
            </ion-col>
            <ion-col col-2 class="text-left">
                <% summary.maxpossiblepercentage %>
            </ion-col>
        </ion-row>

    </ion-grid>
    </ion-item>
</div>