{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_attendance/rooms

    Example context (json):
    {
        "name": "Room name",
        "description": "Room description",
        "capacity": "Room capacity",
        "bookable": "Room bookable",
        "rooms": [
         {
            "name": "Example room 1",
            "description": "This is my example room",
            "capacity": 10,
            "is_bookable": 1,
         },
         {
            "name": "Example room 2",
            "description": "Yet another room"",
            "capacity": 5,
            "is_bookable": 0,
         }
        ],
        "button_addroom": "Add room",
        "url_add": "https://www.example.com",

    }
}}
<table class="generaltable" style="width: 100%">
    <thead>
    <tr>
        <th>{{name}}</th>
        <th>{{description}}</th>
        <th>{{capacity}}</th>
        <th>{{bookable}}</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {{#rooms}}
        <tr>
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td>{{capacity}}</td>
            <td>{{is_bookable}}</td>
            <td>
                <a href="{{url_edit}}" class="action-icon"><i class="icon fa fa-edit fa-fw "></i></a>
                <a href="{{url_delete}}" class="action-icon"><i class="icon fa fa-trash fa-fw "></i></a>
            </td>
        </tr>
    {{/rooms}}
    </tbody>
</table>
<input type="button" class="btn btn-primary" onclick="location.href='{{url_add}}'" value="{{button_addroom}}" />